:root {
    --black-background: red;
}

.header {
    background-color: var(--black-background);
    display: flex;
    justify-content: space-between;
    padding: 15px;

}

.logo-header {
    width: 15vw;
}

.menu-icon {
    max-width: 5vw;
}

.menu {
    display: none;
}

.hero {
    background-color: lightskyblue;
    color: white;
    
    /* margin: 0 15px; */
}

.footer {
    background-color: var(--black-background);
}